@charset "UTF-8";
img, object, embed, video {max-width: 100%;}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {	width:100%;}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;

*/
.fluid {clear: both;margin-left: 0;width: 100%;float: left;display: block;}

.fluidList {list-style:none;list-style-image:none;margin:0;padding:0;}
* {box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}

/* Mobile Layout: 480px and below. */
.gridContainer {width: 90%;max-width: 1232px;margin-left: auto;margin-right: 0;padding:0; padding-right:2px; padding-left:2px;clear: none;float: none;}
html,button,input,select,textarea {color: #231f20; margin:0; padding:0;-webkit-text-size-adjust: 100%;}
html {font-size:1em; line-height: 1.4;}

body { margin:0 auto;text-align:left; font-size: 100%;font-family:Verdana, Arial, sans-serif; height:100%; }
hr {display: block;height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0;padding: 0;}
audio,canvas,img,video {vertical-align: middle;}
.browsehappy {margin: 0.2em 0; background: #ccc;color: #000;padding: 0.2em 0;}
header{background-color:#FFF;}
h1 {font-size:1.2em;color:#231f20;font-family:Verdana, Arial, Helvetica, sans-serif;padding-left: 5px;}
h2 {font-size:1.1em;color:#231f20;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#231f20; font-weight:bold}		 
h3 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;}	
h4 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#FFF; word-spacing:40px;}
h5 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#FFF;}	
a:link{text-decoration:none;color:#88201d;font-size: .9em;}
a:visited{text-decoration:none;color:#88201d;font-size: .9em;}
a:hover{text-decoration:none; color:#ed1c24;}
a:active{text-decoration:none; color:#ed1c24;}
#div1{background-color:#FFF;}
a img { border-style:none;}
img {max-width:100%;!important;}
.image {max-width:100%;}
p{ color:#231f20;font-size:.9em; font-family:Verdana, Geneva, sans-serif; line-height:1.5em; padding-bottom:10px; text-align:left;} 
ul{ color:#231f20;font-size:.8em; font-family:Verdana, Geneva, sans-serif; line-height:1.8em; padding-bottom:10px; text-align:left; padding-left:30px;}
li{list-style:square; padding-left:10px;}
strong{font-size:1em; font-weight:bold;}
em{font-size:1em; font-family:Verdana, Geneva, sans-serif; font-style:italic; }
#content{float:left; background-color:#eeeded;}
#atc{display:none;}	 
#red {background-color: #88201D; width:100%; height:15px;}
#black {background-color: #231F20;color: #FFFFFF;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif; width:100%;}
#black a:link{color:#FFF;}
.topNav{display:none;}
.homeLinks {display:block; width: 20%;clear: none;margin-left: 3%;padding-top: 20px;}
#nav-toggle {display: block;!important}
#nav-toggle span {display: inline-block;background: url(../images/menu.svg)  no-repeat center center;height: 25px;width: 25px;border-radius:5px; float:right; margin-right:25px; margin-bottom:10px; margin-top:10px;-webkit-radius:5px;cursor: pointer;}
#nav{display:none;}
#nav-mobile {display: block;position: relative; z-index:100;}
#nav-mobile ul {display: none;list-style-type: none;position: absolute;left: 0;right: 0; top:200px;margin: 0;padding: 0;text-align: center;background-color: #88201d;border-radius:5px;-webkit-radius:5px;}
#nav-mobile li {display: block;padding: 5px;margin: 5px;border-bottom: solid 1px #FFF;}
#nav-mobile li:last-child {border-bottom: none;}
#nav-mobile a {display: block;padding: 10px;color: #FFF;text-decoration:none;}
#nav-mobile a:hover {color: #ed1c24;}
.empLogo{width:100%;}
.smIcons{font-size:24px; line-height:.8em; text-align:right; padding-left:0;}

.logoPhoneMobile{font-size:.9em;}
#white {font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif; padding-top:10px; padding-bottom:10px;font-size:20px; }

#memberD {width: 21.0526%;display: block;}
#insuranceP {width: 21.0526%;margin-left: 5.2631%;clear: none;display: block; padding-bottom:20px;}
#cashM {width: 21.0526%;margin-left: 5.2631%;clear: none;display: block;}
#managementTools {width: 21.0526%;margin-left: 5.2631%;clear: none;display: block;}

#shadow {background: url(../images/bgImage.png) repeat-x; width:100%; padding:0;margin:0;background-color:#eeeded;padding-bottom:25px;}

main{background-color:#eeeded; width:100%;}
#main {background-color:#eeeded;width: 100%;margin:0;clear: both;display:block; font-size:.9em;}

.icon{width:60%; padding-bottom:10px;}
.iconTitle{font-size:.8em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;line-height:.3em; text-align:center;}
.iconTitleMobile{font-size:.5em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;}
.sectionTitle {font-size:1.2em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f; font-weight:500;}
.benefit{text-align:center;}
.benefitExplan{font-size:.8em; line-height:1.4em;}

#employeeBenefits{width:100%; padding-bottom:20px; margin-left:1%;}
#trainingDVDs{width:100%; margin-left:1%;}

#publications{ background-color:#eeeded; border-top:#a5a4a4 dotted 2px;padding-top:10px; margin-left:1%;}

#div11 {width: 100%;}
#div4 {width: 100%;margin-left: 0;clear: both;padding-bottom:10px;}

#label {width: 100%;border-top:#a5a4a4 dotted 2px;padding-top:10px;}
#div2 {width: 100%;margin-left: 0;clear: both;display: none;}
#div15 {width: 100%;margin-left: 0;clear: both;display: none;}
#update {width: 21.0526%;display: block; text-align:center;}
#eflash {width: 21.0526%;margin-left: 5.2631%;clear: none;text-align:center;display: block;}
#watchdog {width: 21.0526%;margin-left: 5.2631%;clear: none;display: block;text-align:center;}
#piaMag {width: 100%;margin-left: 0;clear: both;display: none;text-align:center;}
#pressR {width: 21.0526%;margin-left: 5.2631%;clear: none;display: block;text-align:center;}
#bookstore {width: 100%;margin-left: 0;clear: both;display: none;text-align:center;}
#div5 {width: 100%;}
#div6 {width: 100%;margin-left: 0;clear: both;display: none;}
#div7 {width: 100%;margin-left: 0;clear: both;display: none;}

#feIcon {width: 28.5714%;margin-left: 0;}

#webinars {width: 100%;margin-left: 0;display: none;}

#div22 {width: 100%;display: none;}
#photos {margin:0;padding:0; padding-bottom:10px;}
#photos img{width:31%;}
#printAccess {width: 100%;}
footer { font-size:1em;background-color: #88201D; width:100%;}
footer a:link{text-decoration:none;color:#FFF;font-size: 1em;}
footer a:visited{text-decoration:none;color:#FFF;font-size: 1em;}
footer a:hover{text-decoration:none; color:#ed1c24;}
footer a:active{text-decoration:none; color:#ed1c24;}
#fullFooter {color: #FFFFFF; }
#redFooter{padding: 10px; margin:0 auto; }

#footlinks {color:#ffffff; font-size:.9em;}
#subFooter {background-color: #231F20; color:#FFF;text-align: center; margin:0 auto;font-size:.7em;}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {margin-left: auto;margin-right: 0;width: 90%;padding:0; padding-right:18px; padding-left:2px;clear: none;float: none;}
.empLogo{width:65%;}
.smIcons{ width:25%;font-size:24px; line-height:.8em; padding-left:30px; margin-left:8%; padding-top:20px;text-align:left; display:block; clear:none;}



#nav-mobile ul {display: none;list-style-type: none;position: absolute;left:200px;right: 0; top:200px;margin: 0;padding: 0;text-align: center;background-color: #88201d;border-radius:5px;-webkit-radius:5px;}
#main {width: 95%;clear: both; background-color:#eeeded;  display:block; padding-right:20px; padding-left:10px; font-size:.9em;}
#bottomNav{padding:10px;}
#aboutUs {width: 30%;clear: none;margin-left: 0;}
#contactUs {width: 50%;clear: none;margin-left: 0;}
.logoPhoneMobile{font-size:1em;}
.iconTitle{font-size:1.2em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;line-height:.6em;}
.topNav{font-size:1em;}
#div11 {width: 48.7179%;display: block;}
#div2 {width: 23.0769%;clear: none;margin-left: 2.5641%;display: block;border-top:#a5a4a4 dotted 2px;padding-top:10px;}
#div15 {width: 23.0769%;clear: none;margin-left: 2.5641%;display: block;border-top:#a5a4a4 dotted 2px;padding-top:10px;}
#ET{ background-color:#eeeded; vertical-align:top;}

#update {width: 24;display: block;text-align:center;}
#eflash {width: 24%;clear: none;margin-left: 2%;display: block;text-align:center;}
#watchdog {width: 24%;clear: none;margin-left: 2%;display: block;text-align:center;}
#piaMag {width: 24%;clear: none;margin-left: 2%;display: none;text-align:center;}
#pressR {width: 24%;clear: none;margin-left: 2%;display: block;text-align:center;}

#label {width: 48.7179%;padding-right:10px;}
#div5 {width: 48.7179%; padding-right:10px; }
#photos img{width:46%;}

#div4 { width: 48.7179%;clear: none;margin-left: 2.5641%;padding-bottom:0;margin-top:0;}
.cpIcon {padding-left:20px;}
#div6 {width: 23.0769%;clear: none;margin-left: 2.5641%;display: block;}
#div7 {width: 23.0769%;clear: none;margin-left: 2.5641%;display: block;}

#employeeBenefits{width:30%; }
#trainingDVDs{width:68%;clear:none; padding-left:30px;}

#webinars {width: 21.0526%;margin-left: 0;display: none;}
#workshops {width: 47.3684%;clear: both;margin-left: 0;display: block;}
#virtualClasses {width: 47.3684%;clear: none;margin-left: 5.2631%;display: block;}
.footerLinksTop {display: block;}
#div22 {width: 48.7179%;display: block;}
#printAccess {width: 60%; padding-top:10px;}
#choosePrint {width: 30%;clear: none;margin-left: 5.2631%;padding-top:10px;}
#footlinks{width:100%;}
#leftLinks{width:30%; display:block;}
#rightLinks{width: 50%;margin-left: 1%;clear: none;display: block;}



}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {width: 88.5%;max-width: 1232px;padding-left: 0.75%;padding-right: 0.75%;margin: auto;clear: none;float: none;margin-left: auto;}
hr { display:inline;!important;height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0;padding: 0;}
audio,canvas,img,video {vertical-align: middle;}
.browsehappy {margin: 0.2em 0; background: #ccc;color: #000;padding: 0.2em 0;}
.topNav {display:block;}
.homeLinks {display:block; width: 20%;clear: none;margin-left: 5%;padding-top: 20px;padding-bottom: 20px;}
#nav-toggle {display: none;}

#black {display:block;background-color: #231F20;color: #FFFFFF;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;}
#black a:link{text-decoration:none;color:#FFF;font-size: 1em;}
#black a:visited{text-decoration:none;color:#FFF;font-size: 1em;}
#black a:hover{text-decoration:none; color:#ed1c24;}
#black a:active{text-decoration:none; color:#ed1c24;}
.empLogo{width:60%; display:block; }
.smIcons{width: 30%; display:block; mmargin-left: 0; clear: none; text-align:left;  margin-bottom:40px;color: #88201D;padding-top:40px;}

a:link{text-decoration:none;color:#88201d;font-size: 1em;}
a:visited{text-decoration:none;color:#88201d;font-size: 1em;}
a:hover{text-decoration:none; color:#ed1c24;}
a:active{text-decoration:none; color:#ed1c24;}

.noSidePad{padding-left:0;padding-right:0; margin:0;}
.contactTop{padding-left:30px;}
#white { display:block;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif; padding-top:20px; padding-bottom:20px;font-size:20px;}
.logoLinks {background-color: #FFFFFF;}
.logoPhone { display:block;width: 39%;}
.about { display:block;width: 20%;clear: none;margin-left:0;color: #88201D; padding-top:40px; padding-left:25px;}
.join {display:block;width: 11%;clear: none;margin-left:0;color: #88201D;padding-top:40px;}

.fa{padding-left:9px;}
#content{background-color:#eeeded;}

#main {width: 99%;clear: none;font-size:1em;font-family:Verdana, Arial, Helvetica, sans-serif;color:#000000; padding:0; margin:0; }
.icon{width:40%;}

.zeroMargin_desktop {margin-left: 0;}

.hide_desktop {display: none;}

#div11 {width: 49.1525%;display: block;}
#label {width: 66.1016%;}
#div2 {width: 15.2542%;clear: none;margin-left: 1.6949%;display: block;}
#div15 {width: 15.2542%;clear: none;margin-left: 1.6949%;display: block;}
#update {width: 18%;display: block;}
#eflash {width: 18%;clear: none;margin-left: 1.6949%;display: block;}
#watchdog {width:18%;clear: none;margin-left: 1.6949%;display: block;}
#piaMag {width: 18%;clear: none;margin-left: 1.6949%;display: block;}
#pressR {width: 18%;clear: none;margin-left: 1.6949%;display: block;}
#div5 {width: 66.1016%;}
#div4 {width: 49.1525%;clear: none;margin-left: 1.6949%;padding-bottom:0;}
#photos img{width:30%;clear:none;margin-left:1.5%;}

#div6 {width: 15.2542%;clear: none;margin-left: 1.6949%;display: block;}
#div7 {width: 15.2542%;clear: none;margin-left: 1.6949%;display: block;}
#eventSection {width: 30%; padding:0;}
#trainingSection {width: 69%;clear: none;margin-left: 1%;}
#featuredEvent {width: 100%;clear: none;margin-left: 3.4482%;display: block; padding-right:10px;}
#featuredEventText {display: block;}

#webinars {width: 100%;margin-left: 0;display: block; text-align:left;}

.footerLinksTop {border-bottom:1pt solid #ed1c24;display: block;}

#div22 {width: 49.1525%;display: block;}
#printAccess {width: 100%; padding-top:0;}
#choosePrint {width: 31.0344%;clear: none;margin-left: 3.4482%;}
#choosePrint img{width:75%;}


.benefits {width: 23.7288%;clear: none;margin-left: 1.6949%; padding-bottom:10px; font-size:.9em;}
footer { font-size:1em;}
#bottomNav {font-size:.8em;}
#logoWhite {width: 40.6779%; padding-right:40px;}
#aboutUs {width: 15.2542%;clear: none;margin-left: 5%; }
#contactUs {width: 32.2033%;clear: none;margin-left: 5%;padding-left: 40px; }


}