@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0;
    padding:0;        
}

/* Mobile Layout: 480px and below. */

.icon{width:60%; padding-bottom:10px;}
.iconTitle{font-size:.9em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;}
.benefit{text-align:center;}
.benefitExplan{font-size:.8em; line-height:1.4em;}
 h1 {font-size:1.2em;color:#231f20;font-family:Verdana, Arial, Helvetica, sans-serif;padding-left: 5px;}
h2 {font-size:1.1em;color:#231f20;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#231f20; font-weight:bold}		 
h3 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f;}	
h4 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#FFF; word-spacing:40px;}
h5 {font-size:1.3em;font-weight:300; font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#FFF;}	
a:link{text-decoration:none;color:#88201d;font-size: .9em;}
a:visited{text-decoration:none;color:#88201d;font-size: .9em;}
a:hover{text-decoration:none; color:#ed1c24;}
a:active{text-decoration:none; color:#ed1c24;}

a img { border-style:none;}
img {max-width:100%;!important;}
.image {max-width:100%;}
p{ color:#231f20;font-size:.9em; font-family:Verdana, Geneva, sans-serif; line-height:1.5em; padding-bottom:10px;} 
strong{font-size:1em; font-weight:bold;}
em{font-size:1em; font-family:Verdana, Geneva, sans-serif; font-style:italic; }
.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}

#memberD {
width: 21.0526%;
display: block;
}
#insuranceP {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#cashM {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#managementTools {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#hotlineS {
width: 21.0526%;
margin-left: 26.3157%;
clear: both;
display: block;
}
#creditU {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#shadow {background: url(../images/bgImage2.png) repeat-x; width:100%;}
#div11 {
width: 100%;
}

#label {
width: 100%;
}
#div2 {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#div15 {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#update {
width: 21.0526%;
display: block;
}
#eflash {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#watchdog {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#piaMag {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#pressR {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
display: block;
}
#bookstore {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#div5 {
width: 100%;
}
#div4 {
width: 100%;
margin-left: 0;
clear: both;
}
#div6 {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#div7 {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}
#eventSection {
width: 73.6842%;
}
#trainingSection {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
}

#feIcon {
width: 28.5714%;
margin-left: 0;
}
#featuredEvent {
width: 64.2857%;
margin-left: 7.1428%;
clear: none;
display: block;
}
#webinars {
width: 100%;
margin-left: 0;
display: none;
}
#workshops {
width: 100%;
margin-left: 25%;
clear: none;
display: block;
}
#virtualClasses {
width: 100%;
margin-left: 0;
clear: both;
display: none;
}

#div22 {
width: 100%;
display: none;
}

#photos {
	margin:0;
	padding:0;
}

#printAccess {
width: 47.3684%;
}
#choosePrint {
width: 21.0526%;
margin-left: 5.2631%;
clear: none;
}
#sixMajor {
display: none;
}
#sixMajor2 {
display: none;
}
#sixMajor3 {
display: none;
}
#sixMajor4 {
display: none;
}
#sixMajor5 {
width: 100%;
margin-left: 0;
display: none;
}
#sixMajor6 {
width: 100%;
margin-left: 0;
display: none;
}
#featuredEventText {
display: none;
}
.zeroMargin_mobile {
margin-left: 0;
}
.hide_mobile {
display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}


#memberD {
width: 23.0769%;
display: block;
}
#insuranceP {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#cashM {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#managementTools {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#hotlineS {
width: 23.0769%;
clear: both;
margin-left: 25.641%;
display: block;
}
#creditU {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#div11 {
width: 48.7179%;
display: block;
}
#div13 {
}
#label {
width: 48.7179%;
}
#div2 {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#div15 {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#ET{ background-color:#eeeded; vertical-align:top;}

#publications{ background-color:#eeeded;}

#update {
width: 23.0769%;
display: block;
 text-align:center;
}
#eflash {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
 text-align:center;
}
#watchdog {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
 text-align:center;
}
#piaMag {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: none;
 text-align:center;
}
#pressR {
width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
 text-align:center;
}
#bookstore {
width: 100%;
clear: both;
margin-left: 0;
display: none;
 text-align:center;
}
.sectionTitle {font-size:1.2em;font-family: "proxima-nova",Verdana, Arial, Helvetica, sans-serif;color:#4f4f4f; font-weight:500;
}
#div5 {width: 48.7179%;
}
#div4 { width: 48.7179%;
 clear: none;
 margin-left: 2.5641%;
}
.cpIcon {padding-left:20px;
}
#div6 {width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#div7 {width: 23.0769%;
clear: none;
margin-left: 2.5641%;
display: block;
}
#viewAlbums {width: 100%;
clear: both;
margin-left: 0;
}
#eventSection {width: 48.7179%;}
#trainingSection {width: 48.7179%;clear: none;margin-left: 2.5641%;}
#feIcon {width: 47.3684%;margin-left: 0;}
#featuredEvent {width: 47.3684%;clear: none;margin-left: 5.2631%;display: block;}
#webinars {width: 21.0526%;margin-left: 0;display: none;}
#workshops {width: 47.3684%;clear: both;margin-left: 0;display: block;}
#virtualClasses {width: 47.3684%;clear: none;margin-left: 5.2631%;display: block;}
.footerLinksTop {display: block;}

#div22 {width: 48.7179%;display: block;}

#printAccess {width: 47.3684%;}
#choosePrint {width: 21.0526%;clear: none;margin-left: 5.2631%;}
#sixMajor {display: block;}
#sixMajor2 {display: block;}
#sixMajor3 {display: block;}
#sixMajor4 {display: block;}
#sixMajor5 {margin-left: 0;width: 100%;display: block;}
#sixMajor6 {margin-left: 0;width: 100%;display: block;}
#featuredEventText {display: block;}
.hide_tablet {display: none;}
.zeroMargin_tablet {margin-left: 0;}


}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	width: 88.5%;
	max-width: 1232px;
	padding-left: 0.75%;
	padding-right: 0.75%;
	margin: auto;
	clear: none;
	float: none;
	margin-left: auto;
}

#memberD {
width: 15.2542%;
display: block;
}
#insuranceP {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#cashM {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
padding:
}
#managementTools {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#hotlineS {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#creditU {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#div11 {
width: 49.1525%;
display: block;
}

#label {
width: 66.1016%;
}
#div2 {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#div15 {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#update {
width: 15.2542%;
display: block;
}
#eflash {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#watchdog {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#piaMag {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#pressR {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#bookstore {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#div5 {
width: 66.1016%;
}
#div4 {
width: 49.1525%;
clear: none;
margin-left: 1.6949%;
}
#div6 {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#div7 {
width: 15.2542%;
clear: none;
margin-left: 1.6949%;
display: block;
}
#viewAlbums {
width: 23.7288%;
clear: none;
margin-left: 1.6949%;
}
#eventSection {
width: 49.1525%;
}
#trainingSection {
width: 49.1525%;
clear: none;
margin-left: 1.6949%;
}

#feIcon {
width: 31.0344%;
margin-left: 0;
}
#featuredEvent {
width: 65.5172%;
clear: none;
margin-left: 3.4482%;
display: block;
}
#webinars {
width: 31.0344%;
margin-left: 0;
display: block;
}
#workshops {
width: 31.0344%;
clear: none;
margin-left: 3.4482%;
display: block;
}
#virtualClasses {
width: 31.0344%;
clear: none;
margin-left: 3.4482%;
display: block;
}
.footerLinksTop {
	border-bottom:1pt solid #ed1c24;
	display: block;
}

#div22 {
width: 49.1525%;
display: block;
}

#printAccess {
width: 48.2758%;
}
#choosePrint {
width: 31.0344%;
clear: none;
margin-left: 3.4482%;
}
#choosePrint img{
width:75%;
}
#sixMajor {
display: block;
}
#sixMajor2 {
display: block;
}
#sixMajor3 {
display: block;
}
#sixMajor4 {
display: block;
}
#sixMajor5 {
width: 100%;
margin-left: 0;
display: block;
}
#sixMajor6 {
width: 100%;
margin-left: 0;
display: block;
}
#featuredEventText {
display: block;
}
.zeroMargin_desktop {
margin-left: 0;
}
.hide_desktop {
display: none;
}
}

